* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #6a7268;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #9aa396;
  border-radius: 4px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #080b0c;
  color: #fff;
  font-family: "Inter", "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
