.home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  background-image: url("https://utfs.io/f/6220e3f9-7cc2-465b-8c68-49241984dfa9-dw5la6.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: calc(100vh - 129px);
}

.home-container {
  border: 1px solid #4d4d4d;
  border-radius: 20px;
  padding-inline: 40px;
  padding-top: 97px;
  padding-bottom: 47px;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
}

.home-title {
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 20px;
}

.home-summary {
  font-size: 16px;
  padding-bottom: 40px;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #6c6c6c;
  margin-block: 20px;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #6c6c6c;
  margin: 0 10px;
}

.divider p {
  margin: 0;
  padding: 0 10px;
  color: #6c6c6c;
}
