.bg {
  background-image: url("https://utfs.io/f/6220e3f9-7cc2-465b-8c68-49241984dfa9-dw5la6.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
}
.view-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  position: relative;
  height: calc(100vh - 77px);
}

.left-side {
  font-size: 96px;
  font-weight: 600;
  color: #fff;
  width: 60vw;
  text-align: center;
}

.right-side {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  border: 1px solid #4d4d4d;
  border-radius: 20px;
  padding-inline: 40px;
  padding-top: 80px;
  padding-bottom: 40px;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  width: 480px;
}

.form-title {
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 6px;
}

.form-summary {
  font-size: 16px;
  padding-bottom: 40px;
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
}

.form-label {
  display: flex;
  margin-bottom: 5px;
  color: #ccc;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 16px;
  border: 1px solid #fff;
  border-radius: 12px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  height: 54px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
  color: #ccc;
}

.form-container .footer {
  padding-top: 80px;
  color: #ccc;
  text-align: center;
}

.form-container a:hover {
  color: #fff;
}

.error {
  color: rgb(255, 102, 102);
  padding-top: 5px;
}
