.btn {
  margin-top: 12px;
  width: 100%;
  padding-block: 12px;
  font-size: 20px;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-login {
  background-color: #59047533;
  border: 1px solid #8740cd;
}

.btn-login:hover {
  background-color: #4b0082;
}

.btn-signin {
  background-color: #040f7533;
  border: 1px solid #2e4cee;
}
.btn-signin:hover {
  background-color: #001e82;
}
