.navbar {
  position: sticky;
  top: 0;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 50px;
  padding-block: 12px;
  background-color: #151d20;
  font-size: 14px;
  text-transform: uppercase;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
}

.navbar-pages {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  color: #c2d1d6;
}

.navbar-link {
  color: #c2d1d6;
  text-decoration: none;
}
.navbar-link:hover {
  color: #fff;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 12px;
  background: none;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #a7b5be;
  cursor: pointer;
}

.nav-pages a:hover,
.nav-btn:hover {
  color: #fff;
}
