.navbar {
  position: sticky;
  top: 0;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 50px;
  padding-block: 12px;
  background-color: #151d20;
  font-size: 14px;
  text-transform: uppercase;
  z-index: 1;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
}

.navbar-pages {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  color: #c2d1d6;
}

.navbar-link {
  color: #c2d1d6;
  text-decoration: none;
}

.navbar-link.active {
  color: #fff;
  font-weight: 600;
}

.navbar-link:hover {
  color: #fff;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 12px;
  background: none;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #a7b5be;
  cursor: pointer;
}

.navbar-btn {
  color: #c2d1d6;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.menu {
  position: absolute;
  list-style-type: none;
  top: 30px;
  right: 6px;
  border: 1px solid #4d4d4d;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 25px;
  border-radius: 10px 0px 10px 10px;
  background-color: #151d20;
}

.menu > div {
  backdrop-filter: blur(20px);
}

.menu-item {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}
