/* https://utfs.io/f/a3f39453-61b3-42a1-a113-8e2fa5fc6226-re4ttc.webp */
.not-found-bg {
  background-image: url("https://utfs.io/f/a3f39453-61b3-42a1-a113-8e2fa5fc6226-re4ttc.webp");
  background-repeat: no-repeat;
  background-size: 75vh;
  background-position: right bottom;
  position: absolute;
  top: 100px;
  right: -120px;
  bottom: 0;
  left: 0;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10vw;
  position: absolute;
  top: 15vw;
  bottom: 20vw;
  z-index: 0;
}

.not-found-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.not-found-content h1 {
  font-size: 300px;
  font-weight: 800;
  color: #ffffff33;
  line-height: 220px;
}

.not-found .content p {
  font-size: 24px;
  color: #fff;
}

.not-found.btn-back {
  background: #b63d44;
  padding: 14px 20px;
  border-radius: 6px;
}
