.search-bg {
  background-image: url("https://utfs.io/f/fe7f32ee-2dad-4834-8d8b-1ee3de8c97e9-wd439m.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
}

.view-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
  position: relative;
  height: calc(100vh - 117px);
  overflow-y: auto;
}

.main-container {
  position: relative;
  z-index: 10;
  display: flex;
  height: 100%;
  align-items: flex-start;
  padding: 10px;
  color: white;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-block: 40px;
}

.image-container {
  position: relative;
  background-color: #000;
  border-radius: 12px;
}

.image {
  opacity: 1;
  display: block;
  width: 256px;
  transition: 0.5s ease;
  backface-visibility: hidden;
  border-radius: 12px;
}

.btn-actions {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: flex;
  gap: 10px;
}

.image-container:hover .image {
  opacity: 0.3;
}

.image-container:hover .btn-actions {
  opacity: 1;
}

.btn-actions button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #282828;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #c2d1d6;
  border: 1px solid #c2d1d6;
}
.btn-actions button:hover {
  color: #c2d1d6;
  background-color: #282828;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  color: #282828;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  font-size: 12px;
  font-weight: 600;
  background-color: #c2d1d6;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #c2d1d6 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
