.search-bar {
  position: sticky;
  top: 77;
  display: flex;
  height: 40px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #233035;
  color: #fff;
}

.search-container {
  position: relative;
  z-index: 10;
  display: flex;
  width: 50%;
  align-items: center;
}

.search-input {
  width: 320px;
  background-color: transparent;
  padding: 8px 16px;
  color: #fff;
  border: none;
  font-size: 14px;
}

.search-input:focus-visible {
  outline: none;
  border: 0;
  box-shadow: none;
}

input[type="search" i]::-webkit-search-cancel-button {
  filter: invert(50%) sepia(50%) saturate(50%);
}
.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-icon {
  color: #c2d1d6;
  margin: 16px;
}

.search-options {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 16px;
  border-left: 2px solid #c2d1d6;
}

.search-checkbox {
  accent-color: #a4a734;
}

.search-text {
  font-size: 14px;
  color: #c2d1d6;
}
